.main {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#b_ricerca {
    width: 10px;
    height: 5px;
}
input {
    padding: 10px;
    margin: 10px;
}